body {
    margin: auto;
    font: roboto;
    max-width: 1200px;
}

header {
    background-color: #1F2937;
    padding: 16px;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 52px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin-left: 92px;
}

li {
    color: #e5e7eb;
    margin-left: 52px;
}



.myHeader {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    background-color: #1F2937;
    font-weight: 900;
    justify-content: space-between;
    padding: 52px;
    gap: 52px;
    color: #f9faf8;
}

.hero-text {
    display: flex;
    gap: 16px;
    h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    width: 350px;
    margin-top: -40px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

.img-folder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;

    img {
        width: 200px;
        height: 200px;
    }

    P {
        width: 200px;
        text-align: center;
        color: #1F2937;
        font-weight: 300;
        font-size: 18px;

    }
}

img {
    width: 400px;
    height: 200px;
}

.second-section h2 {
    text-align: center;
    margin: 52px;
    font-size: 36px;
    color: #1F2937;
    text-transform: capitalize;
    font-weight: 900;
    font-family: 'roboto', sans-serif;
}

.quotedText {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    margin: 52px;
    font-weight: 300;
    background-color: #e5e7eb;
}

.third-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;



    i {
        padding: 52px;
        border-radius: 8px;
        color: #1f2937;
        font-weight: 300;
        font-size: 36px;
        align-items: center;
        justify-content: space-between;
    }

    b {
        padding: 52px;
        border-radius: 8px;
        color: #010102;
        font-weight: 900;
        font-size: 36px;
        align-items: center;
        justify-content: space-between;
        font-family: 'roboto', sans-serif;
    }

}

footer {
    padding: 100px;
    color: #e5e7eb;
    text-align: center;
    font-weight: 300;

    .upperfooter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 52px;
        background-color: #3882f6;
        padding: 52px;
        border-radius: 8px;

        h2 {
            font-family: 'roboto', sans-serif;
            font-weight: 600;
            font-size: 36px;
        }
        p {
            font-family: 'roboto', sans-serif;
            font-weight: 300;
            font-size: 18px;
            margin-top: -30px;
        }
       
    }
    button {
        background-color: #3882f6;
        color: #f9faf8;
        border-radius: 8px;
        padding: 8px 16px;
        border: 2px solid #e5e7eb;
        font: 1em sans-serif;
        font-weight: 600px;
    }   


}
.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    font-weight: 300;
    font-size: 19px; 
    padding: 52px;

}